body {
    font-family: "Roboto", sans-serif;
    background-color: #202124;
}
.delete {
    background-color: transparent;

    border-radius: 5px;

    font-weight: 900;
    color: rgb(155, 33, 33);
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: inline-block;
    text-align: center;
}

